/* For Mobile screen */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-logo {
        justify-content: center;
    }

    .nav-menu {
        flex-direction: column;
        margin-top: 30px;
        justify-content: center;
    }

    .nav-menu #list {
        width: max-content;
    }

    /* banner */

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
    }


    /* gamer-container start */
    .gamer-container {
        flex-direction: column;
    }

    .gamer-img {
        width: 100%;
    }

    .gamer-text {
        text-align: center;
        width: 100%;
    }

    /* online-games-container statr */
    .online-games-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .online-games-heading h2 {
        font-size: 24px;
        font-weight: 800;
    }

    /* online-games-container end */


    /*  */

    .play-instantly-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .play-instantly-text {
        width: 100%;
        margin-left: 50px;
        text-align: center;
    }

    .play-instantly-image {
        width: 100%;
        height: 300px;
        text-align: right;
        /* margin-left: 30px; */

    }

    .small-img {
        width: 40%;
        position: relative;
        bottom: 100px;
        left: -15px;
    }

    .play-img-1 {
        height: aotu;
    }






    /* careers-section  */
    .careers-section {
        width: 100%;
        flex-direction: column;
        padding: 40px 0px 0px auto;
    }

    .careers-text {
        width: 90%;
        color: white;
        padding-top: 30px;

    }

    .careers-text h2 {
        font-size: 35px;
        text-align: center;
    }

    .careers-text p {
        text-align: justify;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        margin: 25px 0;
        font-size: 14px;
    }

    .careers-text-list {
        gap: 0px;
        margin: 20px 0;
    }

    .careers-img {
        width: 100%;
        margin-top: 40px;

    }


    /* games-type-container start */

    .games-type-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 99%;
        margin: 0 auto;
        gap: 0px;
        justify-content: flex-start;
        padding: 0px;
    }

    .games-name {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .games-name img {
        margin-right: 2px;
        width: 27px;
    }

    .games-name h4 {
        font-size: 10px;
        margin-right: 1px;
    }


    /* footer section start  */

    .footer-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 70px 0 40px 0;
    }

    .footer-condition {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 40px;
    }

}



/* For Tablat screen */
@media screen and (min-width:426px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-logo {
        justify-content: center;
    }

    .nav-menu {
        flex-direction: column;
        margin-top: 30px;
        justify-content: center;
    }

    .nav-menu #list {
        width: max-content;
    }

    /* banner */

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
    }


    /* gamer-container start */
    .gamer-container {
        flex-direction: column;
    }

    .gamer-img {
        width: 100%;
    }

    .gamer-text {
        text-align: center;
        width: 100%;
    }

    /* online-games-container statr */
    .online-games-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .online-games-heading h2 {
        font-size: 24px;
        font-weight: 800;
    }

    /* online-games-container end */



    .play-instantly-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .play-instantly-text {
        width: 100%;
        margin-left: 50px;
        text-align: center;
    }

    .play-instantly-image {
        width: 100%;
        height: 300px;
        text-align: right;
        /* margin-left: 30px; */

    }

    .small-img {
        width: 40%;
        position: relative;
        bottom: 100px;
        left: -15px;

    }

    .play-img-1 {
        /* height: auto; */
    }


    /* careers-section  */
    .careers-section {
        width: 100%;
        flex-direction: column;
        padding: 40px 10px 0px 10px;
        margin: 400px 0px 0px 0px;
    }

    .careers-text {
        width: 90%;
        color: white;



    }

    .careers-text h2 {
        font-size: 35px;
        text-align: center;
    }

    .careers-text p {
        text-align: justify;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        margin: 25px 0;
    }

    .careers-text-list {
        gap: 0px;
        margin: 20px 0;
    }

    .careers-img {
        width: 100%;
        margin-top: 40px;

    }

    .careers-img img {
        width: 100%;
        margin-top: 40px;

    }

    .careers-text-list {
        justify-content: space-around;
    }

    .primary-btn-3 {
        width: 200px;
        margin-left: 200px;
        text-align: center;

    }


    /* games-type-container start */

    .games-type-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* width: 90%; */
        margin: 10px auto 0;
        gap: 0px;
        padding: 0px;
    }

    .games-name {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .games-name img {
        margin-right: 10px;
        width: 40px;
    }

    .games-name h4 {
        font-size: 10px;
        margin-right: 1px;
    }


    /* footer section start  */

    .footer-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 70px 0 40px 0;
    }

    .footer-icon a i {
        padding: 20px;
        margin-bottom: 20px;
    }

    .footer-condition {
        margin-bottom: 20px;
    }


}